.clockulator {
  font-size:2em;
  padding:6px;
}


.display {
  font-size: 3rem;
  padding:6px;
  text-align:right;
  min-height:1em;
}

.display-total-time {
  float:left;
}

.keypad {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 25% 25% 25% 25%;
  color: white;
  & > button {
    text-align: center;

  }
  .clear-btn {
    background-color:#bdbd7c;
  }
  .plus-btn, .minus-btn, .equals-btn, .del-btn {
    background-color:#999;
  }

  .repeat-text {
    font-size:1.5rem;
  }

  .error-container {
    color:red;
  }

  button {
    color:white;
    background-color:#333;
    font-size: 3rem;
    padding: 20px;
    width:100%;
    height:100%;

    &[disabled="disabled"] {
      opacity:0.1;
    }
  }
}


// .zero-btn {
//   grid-column: 2 / 3;
// }

.equals-btn {
  grid-column: 4;
}
